# TMP
# tmp Files
alembic_tmp.py
old_db.py
alembic_bk/
.dockerignore


# docker
compose.yaml

docker/
redis/

*.pyc
.env
__pycache__/

settings.json



calendar/
member/
officer/
practice/
products/


# ignoring frontend for now
#Frontend
# frontend/
node_modules/
public/
assets/*

.DS_Store
.env
.env.local
.env.production
.env.dev

/.react-router/
/build/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.png
*.jpg
*.mp4

frontend/.vite/deps/_metadata.json
frontend/.vite/deps/package.json